* {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: lightsteelblue;
  color: darkslategrey;
}

body.dark-mode {
  background-color: #4663ac;
  color: darkblue;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 70%;
  margin: auto;
  border-radius: 80px;
  background-color: #d2deeb;
}

.container {
display: flex;
height: 100vh;
}

#langInput {
  text-align: center;
  align-items: center;
}