* {
  font-family: "Noto Sans", sans-serif;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 70%;
  margin: auto;
  border-radius: 80px;
  background-color: white;
}

.container {
display: flex;
height: 100vh;
  background-color: lightblue;
}

#langInput {
  text-align: center;
  align-items: center;
}